<form action="<%="/posts/#{@post.id}"%>" method="POST">
  <div class="input-group">
    <input type="text" name="title" value="<%=@post.title%>" class="form-control">
    <textarea name="content" class="form-control"><%=@post.content%></textarea>
    <input type="submit" value="Post" id="post-update" class="btn">
  </div>
</form>
