<form action="/posts" method="POST">
  <div class="input-group">
    <input type="text" name="title" placeholder="Title" class="form-control">
    <textarea name="content" class="form-control"></textarea>
    <input type="submit" value="Post" id="post-new" class="btn">
  </div>
</form>
