<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="#" type="text/css">
    <title>blogpost</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Welcome to Blog Post</a></h1>
    </header>

    <%= yield %>

    <footer>
      <p>
        Crafted by
        <a href="https://github.com/yangc5">yangc5</a>
      </p>
    </footer>
  </body>
</html>
